# Gemini API Key for Server-side content generation
GEMINI_API_KEY=

# Secure Custom Domain override for Firebase Authentication (optional, e.g. auth.yourdomain.com)
VITE_AUTH_DOMAIN=

# Stripe & App Service Configurations
VITE_STRIPE_PUBLISHABLE_KEY=pk_live_Y8I4kIWBXPdQIfZ2tthPIFwV00DlqCjZva
VITE_API_BASE_URL=https://mubuslink-app-188081155110.us-west1.run.app

STRIPE_SECRET_KEY=
STRIPE_PRICE_ID_KEY_MONTHLY=price_1TFLdKBMbxh6jv0C0MIn4aU5
STRIPE_PRICE_ID_KEY_YEARLY=price_1TFLeCBMbxh6jv0Clh2Evj4b
APP_URL=https://mubuslink-app-188081155110.us-west1.run.app
